In [2]:
import sqlite3
conn = sqlite3.connect('jk.db')

c = conn.cursor()

In [4]:
c.execute('''DROP TABLE gene;''')
c.execute('''DROP TABLE enzyme;''')
c.execute('''DROP TABLE en_pa;''')
c.execute('''DROP TABLE pathway;''')

In [5]:
c.execute('''CREATE TABLE gene
             (id INT, name TEXT, sequence TEXT, eid INT )''')

c.execute('''CREATE TABLE enzyme
             (id INT, name TEXT, function TEXT )''')

c.execute('''CREATE TABLE en_pa
             (eid INT, pid INT )''')

c.execute('''CREATE TABLE pathway
             (id INT, name TEXT, description TEXT )''')

In [12]:
for i in range(12):  
    c.execute("INSERT INTO gene (id, name, sequence, eid) VALUES ("+ str(i+1) + ", 'gname'  " +", 'ATCG' ,"+ str(i+1) + ")")

In [13]:
import pandas as pd

print (pd.read_sql_query("SELECT * FROM gene",conn))

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

    id   name sequence  eid
0    1  gname     ATCG    1
1    2  gname     ATCG    2
2    3  gname     ATCG    3
3    4  gname     ATCG    4
4    5  gname     ATCG    5
5    6  gname     ATCG    6
6    7  gname     ATCG    7
7    8  gname     ATCG    8
8    9  gname     ATCG    9
9   10  gname     ATCG   10
10  11  gname     ATCG   11
11  12  gname     ATCG   12